<div class="flex-container">

  <div>
    <p>棋譜</p>
    <select id="kifu" data-filename="<%= params[:id] %>" size="30">
      <% @moves.each.with_index(1) do |move, i| %>
        <option value="<%= i %>"<%= ' selected' if i == @moves.size %>><%= i %> <%= move %></option>
      <% end %>
    </select>
  </div>

  <div id="board" class="flex-container">
    <div>
      <span style="writing-mode: vertical-rl; font-size: 3rem; transform: rotate(180deg);">
        <%= @pos.hand_white.map(&:to_s).join %>
      </span>
    </div>

    <div>
      <table class="shogi">
        <tbody>
        <tr>
          <td class="d">9</td>
          <td class="d">8</td>
          <td class="d">7</td>
          <td class="d">6</td>
          <td class="d">5</td>
          <td class="d">4</td>
          <td class="d">3</td>
          <td class="d">2</td>
          <td class="d">1</td>
        </tr>
        <% (1..9).each do |y| %>
          <tr>
            <% (1..9).to_a.reverse.each do |x| %>
              <td><span class="<%= 'rotate' if !@pos.look_at(x, y).nil? and @pos.look_at(x, y).side == 1 %>"><%= @pos.look_at(x, y) %></span></td>
            <% end %>
            <td class="l"><%= ['〇', '一', '二', '三', '四', '五', '六', '七', '八', '九'][y] %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>

    <span style="writing-mode: vertical-rl; text-align:right; font-size: 3rem;">
      <%= @pos.hand_black.map(&:to_s).join %>
    </span>
  </div>

</div>

