<p>▲<%= @name_black %> △<%= @name_white %></p>

<div class="flex-container">

  <div>
    <p>棋譜</p>
    <select id="kifu" data-filename="<%= params[:id] %>" size="30">
      <% @moves.each.with_index(1) do |move, i| %>
        <option value="<%= i %>"<%= ' selected' if i == @moves.size %>><%= i %> <%= move %></option>
      <% end %>
    </select>
  </div>

  <div id="board" class="flex-container">
    <%= render partial: "board" %>
  </div>
</div>
